# postgresql://[user]:[password]@[host]:[port]/[database]
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/myapp

# https://ai.google.dev/gemini-api/docs/api-key
GOOGLE_GENERATIVE_AI_API_KEY=

# https://ai.google.dev/gemini-api/docs/models
GOOGLE_GENERATIVE_AI_MODEL_ID=

# https://developers.google.com/youtube/registering_an_application
YOUTUBE_API_KEY=
